rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isUser(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create, update: if isUser(userId);

      match /notifications/{notificationId} {
        allow read, update: if isUser(userId);
      }

      match /{subcollection}/{docId} {
        allow read, write: if isUser(userId);
      }
    }

    match /posts/{postId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && resource.data.posterId == request.auth.uid;

      match /likedUsers/{likerId} {
        allow read: if isSignedIn();
        allow create, update, delete: if isUser(likerId);
      }

      match /comments/{commentId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn();
        allow update, delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      }
    }

    match /genres/{docId} {
      allow read: if isSignedIn();
    }

    match /config/{docId} {
      allow read: if isSignedIn();
    }

    match /reportedPosts/{docId} {
      allow create: if isSignedIn();
    }

    match /reportedComments/{docId} {
      allow create: if isSignedIn();
    }

    match /deletedUsers/{userId} {
      allow create: if isUser(userId);
    }
  }
}
