<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685958858748-vhgeopkr0cdd7lnb73lup1r228u8ujie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685958858748-vhgeopkr0cdd7lnb73lup1r228u8ujie</string>
	<key>API_KEY</key>
	<string>AIzaSyCObN8cE5VnI2gE7igUem3_xheTfppXjVk</string>
	<key>GCM_SENDER_ID</key>
	<string>685958858748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.strGramBeta</string>
	<key>PROJECT_ID</key>
	<string>strgram-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>strgram-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685958858748:ios:bcfe4828b6d6f3f3ee1479</string>
</dict>
</plist>