<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685958858748-hkoh6mae73do0frfarartujgb7hl6ihg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685958858748-hkoh6mae73do0frfarartujgb7hl6ihg</string>
	<key>API_KEY</key>
	<string>AIzaSyCObN8cE5VnI2gE7igUem3_xheTfppXjVk</string>
	<key>GCM_SENDER_ID</key>
	<string>685958858748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kashide</string>
	<key>PROJECT_ID</key>
	<string>strgram-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>strgram-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:685958858748:ios:ae5d8a6400ffee58ee1479</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
